In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from collections import Counter
from statistics import correlation
plt.style.use('ggplot')

In [2]:
df = pd.read_csv("heart - heart.csv")
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
#resumo de informaÃ§Ãµes das colunas
df.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [5]:
#Tipos de dados de cada coluna
df.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

In [6]:
#Quantidadas de linhas e colunas
df.shape

(303, 14)

In [7]:
#retorna se existe algum valor nulo
df.isnull()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
#conta o total de cada coluna
df.value_counts()

age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall  output
38   1    2   138     175   0    1        173       0     0.0      2    4    2      1         2
59   1    0   110     239   0    0        142       1     1.2      1    1    3      0         1
          2   126     218   1    1        134       0     2.2      1    1    1      0         1
          1   140     221   0    1        164       1     0.0      2    0    2      1         1
          0   170     326   0    0        140       1     3.4      0    0    3      0         1
                                                                                             ..
51   1    2   94      227   0    1        154       1     0.0      2    1    3      1         1
          0   140     299   0    1        173       1     1.6      2    0    3      0         1
                      298   0    1        122       1     4.2      1    3    3      0         1
                      261   0    0        186       1     0.0      2    0    2      1         1
77   1    0   125     304   0    0        162       1     0.0      2    3    2      0         1
Length: 302, dtype: int64

In [9]:
for i in df['age'] < 60:
    print(i)

False
True
True
True
True
True
True
True
True
True
True
True
True
False
True
True
True
False
True
False
True
True
True
False
True
False
True
True
False
True
True
False
True
True
True
True
True
True
False
False
True
True
True
True
True
True
True
True
True
True
True
False
False
True
False
True
True
True
True
True
False
True
True
True
True
True
True
True
True
False
True
True
True
True
True
True
True
True
True
True
True
True
False
True
True
False
False
True
True
True
True
True
True
True
True
True
False
True
True
True
True
True
False
True
True
False
False
True
True
True
False
True
False
True
True
True
True
True
True
True
False
True
True
True
True
True
True
False
True
False
True
True
True
True
True
True
False
False
True
False
True
True
True
False
False
False
True
False
True
True
False
False
False
False
True
True
True
True
True
True
True
True
True
True
True
False
False
False
False
True
True
True
True
True
False
True
False
False
True
True
True
False
False
True
True
True
False
True
True
True
True
True
True
False
False
True
True
False
False
False
True
False
True
False
False
True
True
False
True
True
True
False
True
False
True
True
False
False
False
True
False
True
False
True
True
False
False
True
True
False
True
True
True
False
False
True
True
False
False
True
False
True
False
True
True
True
True
False
True
False
True
True
False
False
True
True
True
True
False
True
False
True
True
False
True
False
True
True
True
True
True
False
False
True
True
True
True
True
True
False
True
True
True
True
False
True
True
True
True
True
False
True
True
False
True
False
False
True
True
True
False
True
True

In [10]:
list_IdadeMax = [i for i in df['age']]
print(f'a maior idade da pesquisa foi {max(list_IdadeMax)} anos')

a maior idade da pesquisa foi 77 anos

In [11]:
list_idades_menores = [i for i in df['age']>77 if i == False]
print(f'a quantidade de idades menores que 77 anos sÃ£o {len(list_idades)}')

NameError: name 'list_idades' is not defined

In [ ]:
list_IdadeMin = [i for i in df['age']]
print(f'a menor idade da pesquisa foi {min(list_IdadeMin)} anos')

In [ ]:
list_fem = [i for i in df['sex'] if i == False]
print(f'a quantidade de pessoas da pesquisa que sÃ£o mulheres Ã© de {len(list_fem)} pessoas.')

In [ ]:
list_masc = [i for i in df['sex'] if i == True]
print(f'a quantidade de pessoas da pesquisa que sÃ£o homens Ã© de {len(list_masc)} pessoas.')

In [ ]:
list_ht = [i for i in df['exng'] if i == 1]
list_no_ht = [i for i in df['exng'] if i == 0]
print(f'{len(list_ht)} quantidade de pessoas em que o exercicio pode induzir um ataque de do coraÃ§Ã£o')
print(f'{len(list_no_ht)} quantidade de pessoas em que o exercicio pode nÃ£o induziram ataque do coraÃ§Ã£o')

In [ ]:
list_mediaBatCard = []
for num_bat in df['thalachh']:
    list_mediaBatCard.append(num_bat)
print(f'a media de frequencia maxima cardiaca atingida, observada na pesquisa foi de {sum(list_mediaBatCard)/len(list_mediaBatCard)}')

In [ ]:
df['exng'].value_counts().head(10).plot(kind='bar', figsize=(11,5), grid= False, rot= 0, color = 'orange')
plt.title(' ataque do coraÃ§Ã£o')
plt.xlabel('exercÃ­cios induz o ataque')
plt.ylabel('quantidade de pessoas')

In [ ]:
labels = ['mulheres', 'homens']
titulos = [len(list_fem), len(list_masc)]
cores = ['red','blue']
explode = [0.1,0.1]
total = sum(titulos)
plt.pie(titulos, explode= explode, labels= labels,colors= cores, autopct= lambda
        p:'{:.0f}'.format(p*total/100), shadow = True, startangle=90)

In [ ]:
list_Idades = [i for i in df['age']]
contagem = Counter(list_Idades)

x = [i for i in contagem.keys()]
y = [i for i in contagem.values()]
print(x,y)
plt.barh(x,y)
plt.title('Idades Pesquisadas')
plt.xlabel('quantidade por idade')
plt.ylabel('idades')
plt.show()

In [ ]:
chest_pain = [i for i in df['cp']]

conta_cp = Counter(chest_pain)
print(conta_cp)

cp_types = [i for i in conta_cp.keys()]
cp_contagem = [i for i in conta_cp.values()]
print(cp_types,cp_contagem)

plt.bar(cp_types,cp_contagem)
plt.title('dores no peito')
plt.xlabel('classificaÃ§Ã£o')
plt.ylabel('quantidade')
plt.show()

In [ ]:
chest_pain = [i for i in df['cp']]

conta_cp = Counter(chest_pain)
print(conta_cp)

cp_types = [i for i in conta_cp.keys()]
cp_contagem = [i for i in conta_cp.values() if i == i]
print(cp_types,cp_contagem)

In [ ]:
plt.hist(df['trtbps'])
plt.title('pressÃ£o arterial em repouso')
plt.xlabel('em mm Hg')
plt.ylabel('quantidade(pessoas)')

In [ ]:
correlation = df.corr()
plot = sns.heatmap(correlation, annot=True, fmt= ".1f", linewidths=.6)